<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mononote</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
            font: 1rem;

            cursor: crosshair;
        }

        :root {
            --c1: #454E35;
            --c2: #969C75;
            --c3: #FFF2D9;
            --c4: #6C5744;
            --c5: #322822;
        }

        html {
            background-color: var(--c1);
        }

        body {}
    </style>
</head>

<body>

</body>

</html>
